.button{
	-fx-border-color:  #F06642;
	-fx-border-radius:20px;
	-fx-background-radius:20px;
	-fx-text-fill: #F06642
}

.button:hover{
		-fx-border-color: #F06642;
		-fx-background-color: #F06642;
		-fx-text-fill:white ;
}